@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: #1f7a8c;
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  font-size: 50px;
}

#clock {
  height: 300px;
  width: 500px;
  background-color: #022b3a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #bfdbf7;
}
